mat-expansion-panel {
  margin: auto;
  margin-top: 1rem;
}

mat-panel-title {
  width: 75%;
}

mat-panel-description {
  width: 25%;
}

p {
  font-size: small;
  white-space: pre-wrap;
}

.footer {
  font-size: xx-small;
  font-family: monospace;
  color: slategrey;
}

:host {
  display: block;
  margin-top: 1rem;
}

.msg-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-display {
  width: 100%;
}

.image-display img {
  display: block;
  height: auto;
  width: 75%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
