<main>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion *ngIf="allPosts.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of allPosts" (opened)="postOpenMap.set(post, true)"
      (closed)="postOpenMap.set(post, false)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ postOpenMap.get(post) ? post.title : post.title | slice : 0 : 40 }}
        </mat-panel-title>
        <mat-panel-description>
          <p class="footer">{{ post.createdOn }}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="image-display" *ngIf="post.imagePath">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(post)">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <span class="msg-display" *ngIf="allPosts.length === 0 && !isLoading">No posts to show</span>
</main>
